<!DOCTYPE html>
<html>
    <head>
        <title>Detail Project</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/cerulean/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
        <link rel="stylesheet" href="/public/css/style.css">
    </head>
    <nav class="navbar navbar-expand-lg bg-secondary">
        <div class="container-fluid">
              <a class="navbar-brand" href="/index">
                <img src="https://dumbways.id/assets/images/brandred.png" alt="Dumbways.id" width="60" height="45">
              </a>          
            <div class="collapse navbar-collapse" id="navbarNav" >
                <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active text-dark" aria-current="page" href="/index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active text-dark" href="/project">Add Project</a>
                </li>
                </ul>
          </div>
          <div class="nav-item">
            <a href="/contact"><button type="button" class="btn btn-dark">Contact Me</button></a>
          </div>
        </div>
      </nav>             

      <body background="/public/img/bg-so-serious-white.png">
      <div style="text-align: center;" class="card-detail">
            <div class="card-title">
              <h5>{{.Project.Name}}</h5>
            </div>
            <div class="author">
              {{.Project.Post_date}} | {{.Project.Author}}
            </div>
            <div>
              <img src="/public/img/dumbways.jpg" style="width: 100%;" class="card-img-top" alt="images">           
            </div>
      </div>
            <div style="text-align:justify" class="card-body">
              <p> {{.Project.Content}}</p>
            </div>    

    </body>
</html>