<!DOCTYPE html>
<html>
    <head>
        <title>Detail Project</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/cerulean/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
        <link rel="stylesheet" href="/public/css/style.css">
    </head>
    <nav class="navbar navbar-expand-lg bg-secondary">
        <div class="container-fluid">
              <a class="navbar-brand" href="/index">
                <img src="https://dumbways.id/assets/images/brandred.png" alt="Dumbways.id" width="60" height="45">
              </a>          
            <div class="collapse navbar-collapse" id="navbarNav" >
                <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active text-dark" aria-current="page" href="/index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active text-dark" href="/project">Add Project</a>
                </li>
                </ul>
          </div>
          <div class="nav-item">
            <a href="/contact"><button type="button" class="btn btn-dark">Contact Me</button></a>
          </div>
        </div>
      </nav>             

      <body background="/public/img/bg-so-serious-white.png">
      <div class="card-detail">
            <div class="card-title"><h5>Pasar Coding di Indonesia Dinilai Masih Menjanjikan</h5>
            </div>
                 <img src="/public/img/dumbways.jpg" style="max-width: 700px;" class="card-img-top" alt="images">
            <div class="card-body">
              <p> Ketimpangan sumber daya manusia (SDM) di sektor digital masih
                menjadi isu yang belum terpecahkan. Berdasarkan penelitian
                ManpowerGroup, ketimpangan SDM global, termasuk Indonesia,
                meningkat dua kali lipat dalam satu dekade terakhir.</p>
            </div>
        </div>
    

    </body>
</html>